# Supabase Database (Transaction Pooler - IPv4)
SUPABASE_DB_PASSWORD=
SUPABASE_PROJECT_REF=

# Supabase API
SUPABASE_URL=https://<tu-project-ref>.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
